* {
    margin: 0px;
    padding: 0px;
    font-family: 'Averia Serif Libre', cursive;
}

body{
    background: #000000;;
    color:#fff;
    font-family: 'Averia Serif Libre', cursive;
}

a {
    color: whitesmoke !important;
    text-decoration: none;
}

a:hover{
    color: white !important;
}

/* Navegação */
#navegacao {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #252525;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0 2%; /* Aumentar o espaço nas margens para centralizar o conteúdo */
}

#navegacao .logo {
    display: flex;
    height: 55px;
    width: 181px;
    align-items: center;
}

#navegacao .menu {
    list-style-type: none;
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
    display: flex; /* Adicione flex para alinhar itens horizontalmente */
}

#navegacao .menu li {
    margin: 0 20px;
    line-height: 60px;
    width: 100px !important;
}

#navegacao .menu a {
    color: whitesmoke !important;
    text-decoration: none;
    
}

#navegacao .menu a:hover {
    color: #fff !important;
}

#navegacao .usuario {
    display: flex; /* Adicione flex para alinhar o ícone e o texto verticalmente */
    align-items: center;
}

#navegacao .usuario img {
    height: 75%;
    margin-top: 7px;
    width: 25%;
    margin-right: 10px; /* Adicione um espaçamento à direita do ícone */
}

#navegacao .usuario p {
    margin: 0; /* Remova o deslocamento para cima e centralize verticalmente */
}

.modal{
    color:#fff;
    background-color: #000 !important;
    height: 100%  !important;
    padding: 0px !important;
}

.logo-modal{
    width:70px !important;
    height:70px !important;
}

#titulo{
    margin: 0 auto;
}

#logins img{
    width:30%;
    height: 25%;
}

.boxes{
    background:#fff !important;
    width:50% !important;
    padding: 0px 5px !important;
}

.submit{
    background-color: #fff;
    border: 0px solid black;
    border-radius: 2px;
    height: 50px;
    width: 65px;
    padding: 0px 5px !important;
}

.sidenav-trigger{
    display: none;
}
.sidenav{
    background-color:#252525 !important;
}
.sidenav-overlay{
    display: none !important;
}

/* Carrossel */
.carousel {
    max-width: 100% !important;
    top: 20px;
}

.carousel img {
    max-width: 100% !important;
    height: auto !important;
}
@media (max-width: 600px) {
   .carousel img{
    scale: 0.6;
   }
}

.carousel .carousel-item{
    width: 650px !important; /* 650px */
    height: auto !important; /* 350px */
}

.carousel .indicators{
    background-color: black;
    width:max-content;
    height: max-content;
    border-radius: 15px;
    margin: 0px auto !important;
}

.carousel .indicators .indicator-item{
    margin: 0px 5px 0px 5px !important;
}


/* Catálogo de Jogos */
.carrosel-filmes h5 {
    margin-top: 20px;
    padding-left: 15px;
}

.owl-carousel .item {
    margin-right: 10px;
}

.owl-dots{
    display: none;
}

.box-filme {
    max-width: 100%;
    height: auto;
}

/* Rodapé */
#rodape {
    background-color: #252525;
    color: whitesmoke;
    text-align: center;
    padding: 20px 0;
}

#rodape p{
    font-size:13px ;
    margin-top: 15px;
}