*{
    margin:0px;
    padding:0px;
    /* border: 3px solid green; */
}

#navegacao{
    border:1px solid red;
    height:60px;
    width:100%; /*1360px*/
}

#conteudo{
    border: 1px solid red;
    width: 90%; /* 1224 px */
    margin: 0 auto;
}

#conteudo-carrosel{
    border:1px solid rgb(119, 12, 241);
    width:89.86%; /* 1100px */
    height:393px;
    margin: 5.12% auto 2.9%;
}

#catalogo{
    border: 1px solid red;
    height:780px;
    margin-left: 2.6%;
}

#rodape{
    border: 1px solid red;
    width:100%;
    height: 200px;
    background-color: rgb(27, 27, 27);
}





/*  Navegação */
#navegacao{
    margin: 0%;
}

.logo{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 7.5px 0px 7.5px 50px;
    position: absolute;
    
}

.menu{
    margin-top: 20px;
    /* border: 1px solid red; */
    list-style-type: none;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: start;
    }

.menu li{
    display: inline;
    margin: 0px 150px;


/*Carrossel*/

.carousel{
    height:500px;
}

.carousel .carousel-item{
    width: 400px;
}